<hr>

<div class="container">
  <div class="grid entries">
<% @entries.each do |entry| %>
	<%= content_tag(:div, class: 'unit one-of-two entry') do %>
		<h3><%= link_to entry.title, entry %></h3>

		<p class="tags">[tags: <%= raw entry.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>]</p>
	<% end %>
<% end %>
  </div>
</div><!-- end .container -->