/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .submit {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input {
	border: 1px solid gray;
	padding: 5px;
	margin: 10px 0;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

textarea {
	padding: 5px;
} 

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px; 
}

.site-footer {
  background: #3ea5ce;
}

h1, h2, h3, h4, h5 {
	color: #2b7490;
}

body {
	font-family: "freight-text-pro", serif;
	font-size: 1.3em;
	color: #2f2f2f;
}

a:link, a:visited {
	color: #2b7490;
	text-decoration: none;
}

a:hover {
	color: #3ea5ce;
}

hr {
	padding-top: 40px;
	margin: 0 !important;
}

.form-container, .single-post {
	margin-top: 40px !important;
}

.outer-container {
	background: #3ea5ce;
	color: white;
	margin-bottom: 60px;
}
	.outer-container:last-child {
		margin-bottom: 0;
	}
	.outer-container a:link, .outer-container a:visited {
		color: white;
	}
	.outer-container a:hover {
		color: #2f2f2f;
	}
	.outer-container li {
		display: inline;
	}
	.outer-container ul {
		margin: 0;
		padding-top: 15px;
	}

header h1, .login h1 {
	font-size: 35px;
	font-family: "freight-sans-pro", sans-serif;
}
	.login form {
		margin-bottom: 0 !important;
	}

.description {
	font-size: 1.35em;
}

#guides {
	text-align: center;
}
	#guides p {
		margin-bottom: 0 !important;
		font-size: 110%;
	}
	#guides a:link {
		padding: 0 5px;
	}
	
.next-guide {
	
}

nav {
	font-size: 0.7em;
}
	nav li:hover, nav li:visited {
		color: #2f2f2f;
	}

.entry h3 {
	font-family: "freight-sans-pro", sans-serif;
	font-size: 0.9em;
	margin-bottom: 0.35em;
}
	.entry p {
		font-size: 0.8em;
	}
	.new-entry {
		background: #3ea5ce;
		padding: 10px;
		color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		display: block;
		margin: 0 auto;
		width: 27%;
		text-align: center;
		font-family: "freight-sans-pro", sans-serif;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.new-entry:link, .new-entry:visited {
		color: white;
	}
	.new-entry:hover {
		background: #2b7490;
		-webkit-transition: all .5s ease-in-out;
	}
	
.entries {
	padding-top: 40px;
}

.tags, .tags a:link, .tags p, p.tags {
	color: #2b7490;
	font-variant:small-caps;
	font-size: 87%;
	text-transorm: lowercase;
}

.search {
	padding: 0;
	margin: 0;
}
	.search-form {
		padding: 6px 15px 6px 15px;
		margin: 12px 0;
	}
	.search form {
		margin: 0;
		padding: 0;
		display: block;
		float: right;
	}
	#search {
		border: none;
		padding: 8px;
	}
	.submit {
		background: #2b7490;
		padding: 5px;
		color: white;
		text-align: center;
		font-family: "freight-sans-pro", sans-serif;
		font-size: 0.7em;
	}
	.submit:hover {
		background: white;
		color: #2f2f2f;
		-webkit-transition: all .5s ease-in-out;
	}

footer {
	font-size: 0.8em;
	margin-top: 40px;
}
	footer p {
		padding-top: 15px;
	}

